@import '../../../assets/styles/variables.scss';

.divisionItem {
  width: 8px;
  max-height: 60px;
  background: $division;
  transition: 0.3s;
  cursor: pointer;
  position: relative;

  &Active {
    background: $ash;

    &:before {
      content: url('../../../assets/icons/cube.svg');
      width: 16px;
      height: 16px;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
    }

    & > span {
      display: block;
    }
  }
}
