@import '../../assets/styles/variables.scss';

.point {
  position: absolute;
  width: 3px;
  height: 3px;
  background: $blood;
  border-radius: 50%;

  &:before {
    content: '';
    display: block;
    width: 3px;
    height: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(192, 0, 0, 0.2);
    border-radius: 50%;
    animation: point-grow 1.5s ease-in infinite;
  }
}

@keyframes point-grow {
  0% {
    width: 3px;
    height: 3px;
  }

  50% {
    width: 14px;
    height: 14px;
  }

  100% {
    width: 3px;
    height: 3px;
  }
}
