@import '../../../assets/styles/variables.scss';

.divisionDate {
  background: $dark;
  position: absolute;
  display: none;
  bottom: -16px;
  transform: translate(-50%, 100%);
  width: max-content;
  padding: 4px 8px;
  color: $snow;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  &:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #222222;
    position: absolute;
    top: 0;
    transform: translate(-30%, -100%);
    left: 50%;
  }
}
